body {
    text-align: center;
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #666;
    background-image: url('./img/background-test.png');
    background-size: cover;
}

#container {
    max-width: 50em;
    background-color: black;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas:"top top top"
                        "game game game"
                        "btm-left btm-right btm-right";
}

#top, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top{
    grid-area: top;
    background-image: linear-gradient(#122020, #143362, #122020);
}

main {
    grid-area: game;
}

#btm-left {
    grid-area: btm-left;
    background-image: linear-gradient(#122020, #143362, #122020);
}

#btm-right {
    grid-area: btm-right;
    background-image: linear-gradient(#122020, #143362, #122020);
}
h2{
    font-size: 25px;
    color: #FFFC40;
}