body {
    text-align: center;
    background-color: black;
    
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #666;
    background-image: url('./img/background-test.png');
    background-size: cover;
}

#container {
    max-width: 50em;
    background-color: #143362;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas:"top top top"
                        "game game game"
                        "btm-left btm-right btm-right";
}

#top, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #122020;
}

#top{
    grid-area: top;
}

main {
    grid-area: game;
}

#btm-left {
    grid-area: btm-left;
}

#btm-right {
    grid-area: btm-right;
}